* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: #f1f0ef;
  height: 100vh;
}

body .page {
  background-color: #856e50;
}

body .page .menu-toggle {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 80px;
  cursor: pointer;
  background-color: blue;
  border-bottom-right-radius: 100%;
}

body .page .menu-toggle i {
  color: white;
}

body .page .menu-toggle .menu-open,
body .page .menu-toggle .menu-close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  -webkit-transition: all 0, 7s cubic-bezier(1, -0.07, 0.1, 1.12);
  transition: all 0, 7s cubic-bezier(1, -0.07, 0.1, 1.12);
}

.menu-open {
  -webkit-transform-origin: -100px -100px;
          transform-origin: -100px -100px;
}

.menu-close {
  -webkit-transform-origin: -100px -100px;
          transform-origin: -100px -100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.rotate .container {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

.rotate .menu-open {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.rotate .menu-close {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu-items {
  position: fixed;
  bottom: 0;
  left: 20px;
  margin: 0;
  padding: 0;
}

.menu-items li {
  list-style: none;
  height: 60px;
  margin-bottom: 40px;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: all 0.7s cubic-bezier(1, -0.07, 0.1, 1.12);
  transition: all 0.7s cubic-bezier(1, -0.07, 0.1, 1.12);
}

.menu-items li:nth-child(2) {
  margin-left: 20px;
}

.menu-items li:nth-child(3) {
  margin-left: 40px;
}

.menu-items li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.menu-items li i {
  display: inline-block;
  margin-right: 15px;
  font-size: 2rem;
}

.rotate .menu-items li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container {
  position: relative;
  background-color: #fff;
  z-index: 1;
  padding: 2rem;
  padding-bottom: 100px;
  margin: 0 auto;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all 0.7s cubic-bezier(1, -0.07, 0.1, 1.12);
  transition: all 0.7s cubic-bezier(1, -0.07, 0.1, 1.12);
}

.container .top_section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.container .top_section h1 {
  display: inline;
  border-bottom: 1px solid red;
}

.container .top_section p {
  font-size: 1.5rem;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.timeline .line {
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  left: 0;
  bottom: -50px;
  background-color: #000;
  display: none;
}

.timeline .line::before, .timeline .line::after {
  content: "";
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline .line::after {
  bottom: 0;
}

.timeline .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 20px 0;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
}

.timeline .section .bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #000;
  left: 0;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline .section .content {
  font-size: 1.2rem;
}

.timeline .show-me:nth-child(n) {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.timeline h1 {
  font-weight: 400;
  letter-spacing: 1px;
}

@media (min-width: 481px) {
  .timeline .rotate .container {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@media (min-width: 769px) {
  .timeline .line {
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    left: 50%;
  }
  .timeline .section:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .timeline .show-me:nth-child(n) {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .timeline .section .bead {
    left: 50%;
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  .timeline .content {
    width: calc(50% - 2rem);
  }
  .timeline .rotate .container {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
}

@media (min-width: 1025px) {
  .timeline .rotate .container {
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
}
/*# sourceMappingURL=about_me.css.map */