* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(29, 47, 97, 0.952);
}

.name {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b86760));
  background: linear-gradient(#b86760);
  -webkit-clip-path: circle(50.6% at 24% 12%);
          clip-path: circle(50.6% at 24% 12%);
}

.name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(30.6% at 100% 100%);
          clip-path: circle(30.6% at 100% 100%);
}

.name h1,
.name p {
  z-index: 100;
  cursor: pointer;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.name h1 {
  font-size: 80px;
}

.name p {
  font-size: 20px;
}

.name p.on {
  opacity: 0.5;
}

.name .short_explaining {
  opacity: 1;
}

.name .audio {
  position: absolute;
  top: 10px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name .audio audio {
  display: none;
}

.name .audio p {
  font-size: 30px;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90px;
  width: 40px;
  overflow: hidden;
}

.hero__footer .hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  -webkit-animation: arrow-anime 2s linear infinite;
          animation: arrow-anime 2s linear infinite;
}

.hero__footer .hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(31, 29, 29, 0.924);
  left: -2px;
  top: 11px;
  font-size: 1.5em;
}

@-webkit-keyframes arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

.about_me {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_me .inner {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  width: 70%;
  height: 80%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.about_me::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(30.6% at 100% 0);
          clip-path: circle(30.6% at 100% 0);
}

.about_me::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(30.3% at 0 50%);
          clip-path: circle(30.3% at 0 50%);
}

.about_me .detail {
  position: relative;
  padding: 30px;
}

.about_me .detail h2 {
  position: absolute;
  top: -80px;
  right: 40px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.3);
}

.card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b86760));
  background: linear-gradient(#b86760);
  -webkit-clip-path: circle(16.2% at 40% 28%);
          clip-path: circle(16.2% at 40% 28%);
}

.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(29.8% at 77% 88%);
          clip-path: circle(29.8% at 77% 88%);
}

.card .inner_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 80%;
  z-index: 2;
}

.card .inner_2 > div {
  width: 400px;
  height: 700px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.card .inner_2 h2 {
  position: absolute;
  top: 0px;
  right: 40px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.3);
}

footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(29.5% at 77% -10%);
          clip-path: circle(29.5% at 77% -10%);
}

footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b86760));
  background: linear-gradient(#b86760);
  -webkit-clip-path: circle(46.5% at 7% 85%);
          clip-path: circle(46.5% at 7% 85%);
}

footer .contact {
  width: 70%;
  height: 40%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

footer h2 {
  font-size: 50px;
  font-family: cursive;
}

footer p {
  font-size: 18px;
}

footer .icons a {
  color: black;
}

footer .icons i {
  font-size: 30px;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */