* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  // background-color: rgb(251, 234, 218);
  font-family: Overpass, sans-serif;
  cursor: none;
}

//------------------------
// Start
// ----------------------
.start {
  background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
  & h1, p {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 100%;
    font-size: 80px;
    text-align: center;
  }
  & h1 {
    font-family: "Arizonia", cursive;
    font-family: "Arizonia", cursive;
  }
  & p {
    top: 60%;
    font-size: 30px;
  }
}

.cursor_container{
  position: relative;
  background:rgba(36, 35, 35, 0.603);
}

#cursor{ 
  position: fixed;
  background: rgba(29, 28, 28, 0.753);
  border-radius:10px;
  width: 10px;
  height: 10px;
  margin: -10px 0 0 -10px;
  z-index: 200;
  pointer-events: none;
  opacity: 0;
}

#stalker{
  position: fixed;
  background: rgba(255, 255, 255, 0.924);
  width: 30px;
  height: 30px;
  border-radius:30px;
  margin: -20px 0 0 -20px;
  z-index: 150;
  pointer-events: none;
  opacity: 0;
}

//-----------------------
// My name
//-----------------------
  .audio {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    & audio {
      display: none;
    }
    & p {
      font-size: 30px;
    }
  }

// Arrow anime
.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  height: 100px;
  width: 40px;

  & .hero__downarrow {
    position: absolute;
    left: 0;
    top: 30px;
    width: 10px;
    height: 90px;
    animation: arrow-anime 2s linear infinite;
  }
  & .hero__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(31, 29, 29, 0.924);
    left: -2px;
    top: 40px;
    font-size: 1.5em;
  }
}

@keyframes arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}

//-----------------------
// About Me
//-----------------------
.about_me {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .inner {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    width: 70%;
    height: 70%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(226, 175, 174));
    clip-path: circle(50.6% at 100% 0);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(154, 202, 123));
    clip-path: circle(25.3% at 20% 50%);
  }
  & img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 25px black;;
  }

  & .detail {
    height: 100%;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & h1 {
      font-family: "Arizonia", cursive;
      font-size: 40px;
    }

    & a {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.5);
      color: black;
      text-decoration: none;
      width: 60%;
      margin: 0 auto;
      padding: 10px 0;
      transition: all 0.5s ease;
      &:hover {
        background-color: #fff;
        box-shadow: none;
        transform: translateY(-2px);
      }
    }
  }
}

//--------------------------
// Footer
//--------------------------
footer {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(243, 231, 125));
    clip-path: circle(15.5% at 84.1% 40%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(212, 109, 99));
    clip-path: circle(39.8% at 29% 98%);
  }

  & .contact {
    position: absolute;
    height: 55%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    margin-bottom: 30px;
  }
  & h2 {
    font-size: 50px;
    font-family: "Arizonia", cursive;
  }
  & p {
    font-size: 12px;
    text-align: center;
  }
  & .icons a {
    color: black;
  }
  & .icons i {
    font-size: 30px;
    margin-right: 10px;
  }
}

// Media query
@media (min-width: 481px) {

}
@media (min-width: 769px) {
 
}
@media (min-width: 1025px) {
  .about_me .inner {
    width: 60%;
  }
  footer::before{
    clip-path: circle(13.5% at 84.1% 40%);
  }
  footer::after{
    clip-path: circle(35.8% at 29% 98%);
  }
}
