* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(195, 162, 158);
}

//-----------------------
// My name
//-----------------------
.name {
  background-color: rgb(195, 162, 158);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(224, 191, 188));
    clip-path: circle(50.6% at 24% 12%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(224, 191, 188));
    clip-path: circle(30.6% at 100% 100%);
  }

  & h1,
  p {
    z-index: 100;
  }

  & h1 {
    font-size: 80px;
  }

  p {
    font-size: 20px;
  }

  .audio {
    position: absolute;
    top: 10px;
    right: 100px;
    display: flex;
    & audio {
      display: none;
    }
    & p{
      font-size: 30px;
    }
  }
}

// Arrow anime
.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  height: 90px;
  width: 40px;
  overflow: hidden;
  & .hero__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    animation: arrow-anime 2s linear infinite;
  }
  & .hero__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(29, 28, 28, 0.7);
    left: -2px;
    top: 11px;
    font-size: 1.5em;
  }
}

@keyframes arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}

//-----------------------
// About Me
//-----------------------
.about_me {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #fae3d9;
  & .inner{
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-left: 1px solid rgba(255,255,255, 0.4);
    width: 70%;
    height: 80%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(224, 191, 188));
    clip-path: circle(30.6% at 100% 0);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(224, 191, 188));
    clip-path: circle(36.3% at 0 54%);
  }
}

//--------------------------
// Works, Resume & Contact
//--------------------------
.card {
  // background-color: #c3a29e;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  & .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    & > div {
      border: 1px solid white;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.02);
      width: 300px;
      height: 400px;
      border-radius: 10px;
      backdrop-filter: blur(5px);
    }
  }
}
