* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 230, 197, 0.904);
  font-family: Overpass, sans-serif;
}

//-----------------------
// My name
//-----------------------
.name {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(184, 103, 96));
    clip-path: circle(50.6% at 24% 12%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(243, 210, 208));
    clip-path: circle(30.6% at 100% 100%);
  }

  & .top {
    z-index: 100;
    animation: popup 3s ease;
    & h1,
    p {
      text-align: center;
      cursor: pointer;
      transition: opacity 1s ease;
    }
    & h1 {
      font-size: 60px;
      font-family: "Parisienne", cursive;
    }
    p {
      font-size: 20px;
      &.on {
        opacity: 0.5;
      }
    }
    .short_explaining {
      opacity: 1;
    }
  }

  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    70% {
      opacity: 0.5;
      transform: scale(1.3);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .audio {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    & audio {
      display: none;
    }
    & p {
      font-size: 30px;
    }
  }
}

// Arrow anime
.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  height: 100px;
  width: 40px;

  & .hero__downarrow {
    position: absolute;
    left: 0;
    top: 30px;
    width: 10px;
    height: 90px;
    animation: arrow-anime 2s linear infinite;
  }
  & .hero__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(31, 29, 29, 0.924);
    left: -2px;
    top: 40px;
    font-size: 1.5em;
  }
}

@keyframes arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}

//-----------------------
// About Me
//-----------------------
.about_me {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .inner {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    width: 70%;
    height: 70%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(243, 210, 208));
    clip-path: circle(30.6% at 100% 0);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(243, 210, 208));
    clip-path: circle(25.3% at 20% 50%);
  }
  & img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 25px black;;
  }

  & .detail {
    height: 100%;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & h1 {
      font-family: "Arizonia", cursive;
      font-size: 40px;
    }

    & a {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.5);
      color: black;
      text-decoration: none;
      width: 60%;
      margin: 0 auto;
      padding: 10px 0;
      transition: all 0.5s ease;
      &:hover {
        background-color: #fff;
        box-shadow: none;
        transform: translateY(-2px);
      }
    }
  }
}

//--------------------------
// Footer
//--------------------------
footer {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(243, 210, 208));
    clip-path: circle(15.5% at 84.1% 40%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(184, 103, 96));
    clip-path: circle(39.8% at 29% 98%);
  }

  & .contact {
    position: absolute;
    height: 55%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    margin-bottom: 30px;
  }
  & h2 {
    font-size: 50px;
    font-family: "Arizonia", cursive;
  }
  & p {
    font-size: 12px;
    text-align: center;
  }
  & .icons a {
    color: black;
  }
  & .icons i {
    font-size: 30px;
    margin-right: 10px;
  }
}

// Media query
@media (min-width: 481px) {
  .hero__footer {
    bottom: 150px;
  }
  .name .top h1{
      font-size: 70px;
  }
}
@media (min-width: 769px) {
  .name .top h1{
      font-size: 80px;
  }
}
@media (min-width: 1025px) {
  .name .top h1{
      font-size: 90px;
  }
  .about_me .inner {
    width: 60%;
  }
  footer::before{
    clip-path: circle(13.5% at 84.1% 40%);
  }
  footer::after{
    clip-path: circle(35.8% at 29% 98%);
  }
}
