* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(224, 181, 152, 0.452);
}

.name {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b86760));
  background: linear-gradient(#b86760);
  -webkit-clip-path: circle(50.6% at 24% 12%);
          clip-path: circle(50.6% at 24% 12%);
}

.name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(30.6% at 100% 100%);
          clip-path: circle(30.6% at 100% 100%);
}

.name h1,
.name p {
  z-index: 100;
  cursor: pointer;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.name h1 {
  font-size: 80px;
}

.name p {
  font-size: 20px;
}

.name p.on {
  opacity: 0.5;
}

.name .short_explaining {
  opacity: 1;
}

.name .audio {
  position: absolute;
  top: 10px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name .audio audio {
  display: none;
}

.name .audio p {
  font-size: 30px;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90px;
  width: 40px;
  overflow: hidden;
}

.hero__footer .hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  -webkit-animation: arrow-anime 2s linear infinite;
          animation: arrow-anime 2s linear infinite;
}

.hero__footer .hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(31, 29, 29, 0.924);
  left: -2px;
  top: 11px;
  font-size: 1.5em;
}

@-webkit-keyframes arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

.about_me {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_me .inner {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  width: 70%;
  height: 80%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.about_me::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(30.6% at 100% 0);
          clip-path: circle(30.6% at 100% 0);
}

.about_me::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0bfbc));
  background: linear-gradient(#e0bfbc);
  -webkit-clip-path: circle(36.3% at 0 54%);
          clip-path: circle(36.3% at 0 54%);
}

.about_me .detail {
  position: relative;
  padding: 30px;
}

.about_me .detail h2 {
  position: absolute;
  top: -80px;
  right: 40px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.3);
}

.card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .content > div {
  border: 1px solid white;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.02);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
/*# sourceMappingURL=style.css.map */